.content {
    padding-left: 221px;
    /*width: calc(100% - 221px);*/
    height: calc(100vh - 51px);
}
    .content .content-box {
        padding:12px 12px 20px 12px;
        width: calc(100% - 24px);
        height: calc(100% - 32px);
        align-items: center;
    }
        .content .content-box .head-content {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-between;
        }
            .content .content-box .head-content .head-content-left {
                width: 200px;
                font-weight: bold;
                font-size: 20px;
            }
            .content .content-box .head-content .head-content-right {
                width: 600px;
                display: flex;
                justify-content: flex-end;
            }
                .content .content-box .head-content .head-content-right .btn-sync {
                    width: 179px;
                    height: 40px;
                    display: flex;
                    border-radius: 4px;
                    align-items: center;
                    cursor: pointer;
                    border: 1px solid;
                }
                    .content .content-box .head-content .head-content-right .btn-sync .btn-sync-icon {
                        width: 20px;
                        height: 20px;
                        align-self: center;
                        margin-right: 8px;
                        margin-left: 16px;
                        background-image: url('../../content/icon/sync-icon.png');
                        background-size: contain;
                    }
                    .content .content-box .head-content .head-content-right .btn-sync .btn-sync-text {
                        color: #2fbe8e;
                        margin-right: 16px;
                    }
                .content .content-box .head-content .head-content-right .btn-add {
                    width: 147px;
                    padding: unset;
                    height: 40px;
                    display: flex;
                    margin-left: 16px;
                    background-color: #01b075;
                    color: #ffffff;
                    border: none;
                    border-radius: 4px;
                    align-items: center;
                    font-size: 13px;
                    font-family: 'GoogleSans-Regular';
                    cursor: pointer;
                }
                    .content .content-box .head-content .head-content-right .btn-add:hover {
                        background-color: #2fbe8e;
                    }
                    .content .content-box .head-content .head-content-right .btn-add .btn-add-icon {
                        width: 20px;
                        height: 20px;
                        align-self: center;
                        margin-left: 16px;
                        margin-right: 8px;
                        background-size: contain;
                        background-image: url('/content/icon/add-icon.jpg');
                    }
                    .content .content-box .head-content .head-content-right .btn-add .btn-add-text {
                        align-self: center;
                        margin-right: 16px;
                    }
        .content .content-box .content-toolbox {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-between;
        }
            .content .content-box .content-toolbox .toolbox-left {
                width: 700px;
                display: flex;
            }
                .content .content-box .content-toolbox .toolbox-left .searchbox {
                    width: 320px;
                    height: 40px;
                    vertical-align: middle;
                    white-space: nowrap;
                    position: relative;
                    display: flex;
                }
                        .content .content-box .content-toolbox .toolbox-left .searchbox input#search {
                            width: 320px;
                            font-size: 13px;
                            font-family: 'GoogleSans-Regular';
                            float: left;
                            color: #000000;
                            padding-left: 38px;
                            border-radius: 4px;
                        }
                        .searchbox input#search::-webkit-input-placeholder {
                            color: #65737e;
                        }

                        .searchbox input#search:-moz-placeholder { /* Firefox 18- */
                            color: #65737e;
                        }

                        .searchbox input#search::-moz-placeholder { /* Firefox 19+ */
                            color: #65737e;
                        }

                        .searchbox input#search:-ms-input-placeholder {
                            color: #65737e;
                        }
                        .content .content-box .content-toolbox .toolbox-left .searchbox .searchbox-icon {
                            width: 16px;
                            height: 16px;
                            position: absolute;
                            top: 33%;
                            z-index: 1;
                            margin-left: 16px;
                            background-image: url('/content/icon/search-icon.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                            .searchbox input#search:hover, .searchbox input#search:focus, .searchbox input#search:active {
                                outline: none;
                            }
                .content .content-box .content-toolbox .toolbox-left .department {
                    color: #bbbbbb;
                    width: 280px;
                    height: 40px;
                    position: relative;
                    display: inline-block;
                    margin-left: 16px;
                }
                    .content .content-box .content-toolbox .toolbox-left .department .btn-department {
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        color: #bbbbbb;
                        font-family: 'GoogleSans-Regular';
                        font-size: 13px;
                        border-radius: 4px;
                        text-align: center;
                    }
                .content .content-box .content-toolbox .toolbox-left .status {
                    color: #bbbbbb;
                    width: 180px;
                    height: 40px;
                    position: relative;
                    margin-left: 16px;
                }
                    .content .content-box .content-toolbox .toolbox-left .status .btn-status {
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        color: #bbbbbb;
                        font-family: 'GoogleSans-Regular';
                        font-size: 13px;
                        border-radius: 4px;
                        text-align: center;
                    }
            .content .content-box .content-toolbox .toolbox-right {
                width: 150px;
                display: flex;
                justify-content: flex-end;
            }
                .content .content-box .content-toolbox .toolbox-right .btn-download {
                    width: 40px;
                    height: 40px;
                    color: #bbbbbb;
                    cursor: pointer;
                    background-color: white;
                    border: 1px solid;
                    border-radius: 4px;
                    display: flex;
                }

                    .content .content-box .content-toolbox .toolbox-right .btn-download .download-icon {
                        width: 16px;
                        height: 16px;
                        margin: 9px 0 0 6px;
                        background-image: url('/content/icon/download-icon.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                .content .content-box .content-toolbox .toolbox-right .btn-refresh {
                    width: 40px;
                    height: 40px;
                    margin-left: 16px;
                    color: #bbbbbb;
                    cursor: pointer;
                    background-color: white;
                    border: 1px solid;
                    border-radius: 4px;
                    display: flex;
                }

                    .content .content-box .content-toolbox .toolbox-right .btn-refresh .refresh-icon {
                        width: 16px;
                        height: 16px;
                        margin: 9px 0 0 6px;
                        background-image: url('/content/icon/refresh-icon.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
        .content .content-box .paging-bar {
            height: 54px;
        }

/**
    Dialog đăng ký nhân viên mới
*/

/*phần tử phủ toàn màn hình,không được hiển thị*/
#over {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

a, a:visited, a:active {
    text-decoration: none;
}

.title {
    width: 100%;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
}

.logup {
    height: 444px;
    width: 700px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    display: none;
    overflow: hidden;
    position: absolute;
    z-index: 9999;
    top: 8%;
    left: 28%;
}

    .logup .logup_title {
        color: white;
        font-size: 16px;
        padding: 8px 0 5px 8px;
        text-align: left;
    }

.logup-content label {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}

.logup-content span {
    display: flex;
    line-height: 28px;
    justify-content: space-between;
    margin-left: 8px;
}

.logup-content {
    background-color: white;
    margin: 10px 10px;
    height: 434px;
    overflow: hidden;
    border-radius: 4px;
}

    .logup-content .content-title {
        height: 28px;
        width: calc(100% - 16px);
        line-height: 28px;
        font-weight: bold;
        margin-left: 8px;
        /*border-bottom: 1px solid #bbbbbb;*/
        margin-bottom: 8px;
    }

    .logup-content .info {
        width: calc(100% - 240px);
        height: 333px;
        display: block;
        margin-left: 230px;
    }

    .logup-content .birth-sex {
        height: 30px;
        width: 440px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 8px;
    }

        .logup-content .birth-sex .birthday {
            width: 281px;
            height: 100%;
            margin-left: 8px;
            justify-content: space-between;
            display: flex;
            align-items: center;
        }

        .logup-content .birth-sex .sex {
            width: 130px;
            height: 100%;
            justify-content: space-between;
            display: flex;
            align-items: center;
        }

            .logup-content .birth-sex .sex .sex-box {
                width: 66px;
                height: 30px;
                justify-content: space-between;
                display: flex;
                align-items: center;
                border-radius: 4px;
                border: 1px solid #bbbbbb;
            }

.img-close {
    float: right;
    margin-top: -43px;
    margin-right: 5px
}

.button {
    display: inline-block;
    min-width: 46px;
    text-align: center;
    color: #444;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0px 8px;
    line-height: 36px;
    border-radius: 4px;
    transition: all 0.218s ease 0s;
    border: 1px solid #DCDCDC;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top, #F5F5F5, #F1F1F1);
    cursor: pointer;
}

    .button:hover {
        border: 1px solid #DCDCDC;
        text-decoration: none;
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    }

.logup input {
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    color: black;
    font: 12px/25px "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 28px;
    padding: 0px 8px;
    word-spacing: 0.1em;
    width: 267px;
}

.btn-save {
    display: inline-block;
    padding: auto;
    margin: 15px 75px;
    width: 150px;
}

.btn-save-and-add {
    display: inline-block;
    padding: auto;
    margin: 15px 75px;
    width: 150px;
}

input.border-red {
    border: 1px solid #ff0000;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}