.header {
    width: calc(100% - 221px);
    height: 50px;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
}
    .header .header-title {
        padding-left: 16px;
        padding-right: 10px;
        line-height: 50px;
        cursor: pointer;
    }
    .header .header-icon {
        width: 16px;
        height: 16px;
        cursor: pointer;
        align-self: center;
        background-size: contain;
        background-image: url('/content/icon/expand-icon(1).png');
        background-repeat: no-repeat;
    }
    .header .extra {
        position: absolute;
        right: 16px;
        float: right;
        margin-right: 16px;
        width: 16px;
        height: 16px;
        cursor: pointer;
        align-self: center;
        background-size: contain;
        background-image: url('/content/icon/more-icon.jpg');
        background-repeat: no-repeat;
    }
    .header .name {
        position: absolute;
        right: 42px;
        float: right;
        margin-right: 16px;
        line-height: 50px;
        cursor: pointer;
    }
    .header .avatar {
        background-image: url('/content/img/Ảnh thẻ vuông.png');
        /*border-radius: 50%;*/
        -webkit-border-radius: 50%;
        align-self: center;
        height: 30px;
        width: 30px;
        position: absolute;
        right: 104px;
        cursor: pointer;
        background-size: contain;
        /*background-repeat: no-repeat;*/
        background-position: center;
    }

    .header .department-info {
        padding: 16px;
        font-size: 13px;
    }

        .header .department-info select {
            height: 40px;
            width: 224px;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 13px;
            font-family: 'GoogleSans-Regular';
        }

        .header .department-info option {
            cursor: pointer;
        }


    .header .account-info {
        position: absolute;
        right: 24px;
        display: flex;
        align-items: center;
    }

        .header .account-info .account-avatar {
            width: 30px;
            height: 30px;
            border: 1px solid #ccc;
            border-radius: 50%;
            background-image: url('/content/icon/avatar-default.png');
            background-size: contain;
        }

        .header .account-info .account-name {
            padding: 10px;
        }

        .header .account-info .account-option {
            height: 16px;
            width: 16px;
            cursor: pointer;
            background-image: url('/content/icon/option.png');
            background-position: center;
            background-repeat: no-repeat;
        }